@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Single Day', cursive;
    background: #e8547b;
    padding: 2em;
}

img{
    width: 200px;
    height: auto;
}

h1, h2, p, a {
    margin: 0;
}

.brand-name {
    font-size: 2em;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    margin-bottom: 1em;
}

.label {
    font-size: 0.8em;
    color: #fff;
    text-align: center;
}

.timer {
    font-size: 2em;
    margin-bottom: 1em;
    color: #fff;
    text-align: center;
}

.text {
    font-size: 4em;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    margin-bottom: 1em;
}

.button {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    border: 0;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15);
    cursor: pointer;
}

.record-button {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    background: #fff;
    color: #e8547b;
    border: 0;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-game-wrapper, #phrase-wrapper, #result-wrapper {
    padding: 2em;
    background: rgba(0,0,0,0.25);
    border-radius: 10px;
    text-align: center;
}

.output, .result {
    margin-top: 1em;
    text-align: center;
    color: #fff;
}

.show {
    display: block;
}

.hide {
    display: none;
}